<a href="https://colab.research.google.com/github/GabValent/UERJ/blob/main/BancodeDados/ExValenteCursor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Configuração do ambiente

**Favor não editar!**

## Instalação remota

In [ ]:
# The output of the installation is not displayed when %%capture is used at the start of the cell
%%capture

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

## Criação e conexão à base de dados (para fins de teste)

In [ ]:
# Setup a database with name `sampledb` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS sampledb;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE sampledb;'

# Set connection
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sampledb

ERROR:  database "sampledb" is being accessed by other users
DETAIL:  There is 1 other session using the database.
ERROR:  database "sampledb" already exists
env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sampledb

In [ ]:
# Load the SQL extention to start using the %%sql directive
%load_ext sql

# Selection exammple
# For tests (results are too long):
# select * from information_schema.columns;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Exemplo básico de SQL (para testes)

In [ ]:
# Start executing postgres sql commands

# Create a schema and insert values
%%sql
create schema raw;
set schema 'raw';
create table sample_table (id integer, name varchar(100));
insert into sample_table values (12,'value1'),(13,'value2'),(14,'value3')

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateSchema) schema "raw" already exists

[SQL: create schema raw;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql
select * from sample_table

 * postgresql://postgres:***@localhost:5432/sampledb
3 rows affected.

[(12, 'value1'), (13, 'value2'), (14, 'value3')]

# Base de Dados: Filmes

Adaptação do script de Eduardo Morelli -- PostgreSQL

## Criação das tabelas

In [ ]:
%%sql

--DROP TABLE CLIENTE CASCADE;

--DROP TABLE EXEMPLAR CASCADE;

--DROP TABLE FILME CASCADE;

--DROP TABLE LOCACAO CASCADE;

--DROP TABLE PAPEL CASCADE;

--DROP TABLE PARTICIPACAO CASCADE;

--DROP TABLE PROFISSIONAL_CINEMA CASCADE;

--
-- TABLE: CLIENTE
--

CREATE TABLE CLIENTE(
    COD_CLIENTE        NUMERIC(10, 0)    NOT NULL,
    CLIENTE_TITULAR    NUMERIC(10, 0),
    NOME               VARCHAR(60)     NOT NULL,
    TELEFONE           VARCHAR(20),
    ENDERECO           VARCHAR(60),
    CIDADE             VARCHAR(20)     DEFAULT 'Bicas',
    UF                 CHAR(2)          DEFAULT 'MG'
                       CONSTRAINT CK_CLIENTE_01 CHECK (uf in ('SP', 'MG', 'RJ', 'ES')),
    EMAIL              VARCHAR(100),
    CONSTRAINT CLIENTE_PK PRIMARY KEY (COD_CLIENTE)
)
;



--
-- TABLE: EXEMPLAR
--

CREATE TABLE EXEMPLAR(
    COD_EXEMPLAR    NUMERIC(10, 0)    NOT NULL,
    COD_FILME       NUMERIC(10, 0)    NOT NULL,
    CONSTRAINT EXEMPLAR_PK PRIMARY KEY (COD_EXEMPLAR)
)
;



--
-- TABLE: FILME
--

CREATE TABLE FILME(
    COD_FILME                 NUMERIC(10, 0)    NOT NULL,
    NOME                      VARCHAR(100)    NOT NULL,
    NOME_ORIGINAL             VARCHAR(100),
    ANO                       NUMERIC(4, 0)
                              CONSTRAINT FILME_01_CK CHECK (ANO > 1900),
    DURACAO_MINUTOS           NUMERIC(3, 0)
                              CONSTRAINT FILME_02_CK CHECK (DURACAO_MINUTOS BETWEEN 10 AND 300),
    PRECO_SUGERIDO_LOCACAO    NUMERIC(7, 2),
    CENSURA                   NUMERIC(2, 0)     DEFAULT 18
                              CONSTRAINT FILME_03_CK CHECK (CENSURA BETWEEN 0 AND 18),
    CONSTRAINT FILME_PK PRIMARY KEY (COD_FILME)
)
;



--
-- TABLE: LOCACAO
--

CREATE TABLE LOCACAO(
    COD_EXEMPLAR      NUMERIC(10, 0)    NOT NULL,
    COD_CLIENTE       NUMERIC(10, 0)    NOT NULL,
    DT_SAIDA          DATE             NOT NULL,
    DT_DEVOLUCAO      DATE,
    PRECO_APLICADO    NUMERIC(9, 2),
    CONSTRAINT LOCACAO_PK PRIMARY KEY (COD_CLIENTE, COD_EXEMPLAR)
)
;



--
-- TABLE: PAPEL
--

CREATE TABLE PAPEL(
    COD_PAPEL    NUMERIC(10, 0)    NOT NULL,
    DESCRICAO    VARCHAR(60)     NOT NULL,
    CONSTRAINT PAPEL_PK PRIMARY KEY (COD_PAPEL),
    CONSTRAINT PAPEL_U_01  UNIQUE (DESCRICAO)
)
;



--
-- TABLE: PARTICIPACAO
--

CREATE TABLE PARTICIPACAO(
    COD_PAPEL                  NUMERIC(10, 0)    NOT NULL,
    COD_PROFISSIONAL_CINEMA    NUMERIC(10, 0)    NOT NULL,
    COD_FILME                  NUMERIC(10, 0)    NOT NULL,
    CONSTRAINT PARTICIPACAO_PK PRIMARY KEY (COD_PAPEL, COD_PROFISSIONAL_CINEMA, COD_FILME)
)
;



--
-- TABLE: PROFISSIONAL_CINEMA
--

CREATE TABLE PROFISSIONAL_CINEMA(
    COD_PROFISSIONAL_CINEMA    NUMERIC(10, 0)    NOT NULL,
    NOME                       VARCHAR(30)     NOT NULL,
    DT_NASCIMENTO              DATE,
    PAIS_ORIGEM                VARCHAR(20),
    CONSTRAINT PROFISSIONAL_CINEMA_PK PRIMARY KEY (COD_PROFISSIONAL_CINEMA)
)
;


--
-- TABLE: CLIENTE
--

ALTER TABLE CLIENTE ADD CONSTRAINT CLIENTE_CLIENTE_FK
    FOREIGN KEY (CLIENTE_TITULAR)
    REFERENCES CLIENTE(COD_CLIENTE)
;


--
-- TABLE: EXEMPLAR
--

ALTER TABLE EXEMPLAR ADD CONSTRAINT FILME_EXEMPLAR_FK
    FOREIGN KEY (COD_FILME)
    REFERENCES FILME(COD_FILME)
;


--
-- TABLE: LOCACAO
--

ALTER TABLE LOCACAO ADD CONSTRAINT CLIENTE_LOCACAO_FK
    FOREIGN KEY (COD_CLIENTE)
    REFERENCES CLIENTE(COD_CLIENTE)
;

ALTER TABLE LOCACAO ADD CONSTRAINT EXEMPLAR_LOCACAO_FK
    FOREIGN KEY (COD_EXEMPLAR)
    REFERENCES EXEMPLAR(COD_EXEMPLAR)
;


--
-- TABLE: PARTICIPACAO
--

ALTER TABLE PARTICIPACAO ADD CONSTRAINT FILME_PARTICIPACAO_FK
    FOREIGN KEY (COD_FILME)
    REFERENCES FILME(COD_FILME)
;

ALTER TABLE PARTICIPACAO ADD CONSTRAINT PAPEL_PARTICIPACAO_FK
    FOREIGN KEY (COD_PAPEL)
    REFERENCES PAPEL(COD_PAPEL)
;

ALTER TABLE PARTICIPACAO ADD CONSTRAINT PC_PARTICIPACAO_FK
    FOREIGN KEY (COD_PROFISSIONAL_CINEMA)
    REFERENCES PROFISSIONAL_CINEMA(COD_PROFISSIONAL_CINEMA)
;

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "cliente" already exists

[SQL: --DROP TABLE CLIENTE CASCADE;

--DROP TABLE EXEMPLAR CASCADE;

--DROP TABLE FILME CASCADE;

--DROP TABLE LOCACAO CASCADE;

--DROP TABLE PAPEL CASCADE;

--DROP TABLE PARTICIPACAO CASCADE;

--DROP TABLE PROFISSIONAL_CINEMA CASCADE;

--
-- TABLE: CLIENTE
--

CREATE TABLE CLIENTE(
    COD_CLIENTE        NUMERIC(10, 0)    NOT NULL,
    CLIENTE_TITULAR    NUMERIC(10, 0),
    NOME               VARCHAR(60)     NOT NULL,
    TELEFONE           VARCHAR(20),
    ENDERECO           VARCHAR(60),
    CIDADE             VARCHAR(20)     DEFAULT 'Bicas',
    UF                 CHAR(2)          DEFAULT 'MG'
                       CONSTRAINT CK_CLIENTE_01 CHECK (uf in ('SP', 'MG', 'RJ', 'ES')),
    EMAIL              VARCHAR(100),
    CONSTRAINT CLIENTE_PK PRIMARY KEY (COD_CLIENTE)
)
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- USUARIOS

CREATE TABLE usuarios (
  id_usuario SERIAL PRIMARY KEY,
  nome VARCHAR(50) NOT NULL,
  data_nasc DATE,
  tipo_doc_id  VARCHAR(20) NOT NULL,
  cod_doc_id VARCHAR(20) NOT NULL,
  data_cadastro DATE NOT NULL,
  foto BYTEA
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "usuarios" already exists

[SQL: -- USUARIOS

CREATE TABLE usuarios (
  id_usuario SERIAL PRIMARY KEY,
  nome VARCHAR(50) NOT NULL,
  data_nasc DATE,
  tipo_doc_id  VARCHAR(20) NOT NULL,
  cod_doc_id VARCHAR(20) NOT NULL,
  data_cadastro DATE NOT NULL,
  foto BYTEA
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- NATUREZA_AJUSTE

CREATE TABLE natureza_ajuste(
  id_natureza_ajuste SERIAL PRIMARY KEY,
  valor_fixo int NOT NULL,
  porcentagem int NOT NULL
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "natureza_ajuste" already exists

[SQL: -- NATUREZA_AJUSTE

CREATE TABLE natureza_ajuste(
  id_natureza_ajuste SERIAL PRIMARY KEY,
  valor_fixo int NOT NULL,
  porcentagem int NOT NULL
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- CATEGORIAS_VIAGEM

CREATE TABLE categorias_viagem (
  id_categoria SERIAL PRIMARY KEY,
  id_categoria_inferior INT,
  nome VARCHAR NOT NULL,
  valor_padrao money NOT NULL,
  FOREIGN KEY (id_categoria_inferior)
    REFERENCES categorias_viagem (id_categoria)
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "categorias_viagem" already exists

[SQL: -- CATEGORIAS_VIAGEM

CREATE TABLE categorias_viagem (
  id_categoria SERIAL PRIMARY KEY,
  id_categoria_inferior INT,
  nome VARCHAR NOT NULL,
  valor_padrao money NOT NULL,
  FOREIGN KEY (id_categoria_inferior)
    REFERENCES categorias_viagem (id_categoria)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- FORMAS_PAGAMENTO

CREATE TABLE formas_pagamento (
  id_forma_pagamento SERIAL PRIMARY KEY,
  descricao VARCHAR (20) UNIQUE NOT NULL
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "formas_pagamento" already exists

[SQL: -- FORMAS_PAGAMENTO

CREATE TABLE formas_pagamento (
  id_forma_pagamento SERIAL PRIMARY KEY,
  descricao VARCHAR (20) UNIQUE NOT NULL
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- VEICULOS

CREATE TABLE veiculos (
  id_veiculo SERIAL PRIMARY KEY,
  id_categoria INT NOT NULL,
  FOREIGN KEY (id_categoria)
    REFERENCES categorias_viagem (id_categoria),
  tipo VARCHAR NOT NULL,
  placa VARCHAR(7) UNIQUE NOT NULL,
  modelo VARCHAR NOT NULL,
  fabricante VARCHAR NOT NULL,
  ano_fabricacao INT NOT NULL,
  data_compra DATE NOT NULL,
  cor VARCHAR NOT NULL,
  capacidade_passageiros INT NOT NULL
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "veiculos" already exists

[SQL: -- VEICULOS

CREATE TABLE veiculos (
  id_veiculo SERIAL PRIMARY KEY,
  id_categoria INT NOT NULL,
  FOREIGN KEY (id_categoria)
    REFERENCES categorias_viagem (id_categoria),
  tipo VARCHAR NOT NULL,
  placa VARCHAR(7) UNIQUE NOT NULL,
  modelo VARCHAR NOT NULL,
  fabricante VARCHAR NOT NULL,
  ano_fabricacao INT NOT NULL,
  data_compra DATE NOT NULL,
  cor VARCHAR NOT NULL,
  capacidade_passageiros INT NOT NULL
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- PASSAGEIROS

CREATE TABLE passageiros(
  id_passageiro SERIAL PRIMARY KEY,
  id_usuario INT NOT NULL,
  FOREIGN KEY (id_usuario)
    REFERENCES usuarios (id_usuario)
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "passageiros" already exists

[SQL: -- PASSAGEIROS

CREATE TABLE passageiros(
  id_passageiro SERIAL PRIMARY KEY,
  id_usuario INT NOT NULL,
  FOREIGN KEY (id_usuario)
    REFERENCES usuarios (id_usuario)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- AJUSTES_VALORES

CREATE TABLE ajustes_valores (
  id_ajuste_valor SERIAL PRIMARY KEY,
  id_natureza_ajuste INT NOT NULL,
  tipo VARCHAR (50) NOT NULL,
  valor INT NOT NULL,
  data_hora_inicio_validade TIMESTAMP NOT NULL,
  data_hora_fim_validade TIMESTAMP NOT NULL,
  FOREIGN KEY (id_natureza_ajuste)
    REFERENCES natureza_ajuste(id_natureza_ajuste)
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "ajustes_valores" already exists

[SQL: -- AJUSTES_VALORES

CREATE TABLE ajustes_valores (
  id_ajuste_valor SERIAL PRIMARY KEY,
  id_natureza_ajuste INT NOT NULL,
  tipo VARCHAR (50) NOT NULL,
  valor INT NOT NULL,
  data_hora_inicio_validade TIMESTAMP NOT NULL,
  data_hora_fim_validade TIMESTAMP NOT NULL,
  FOREIGN KEY (id_natureza_ajuste)
    REFERENCES natureza_ajuste(id_natureza_ajuste)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- PAGAMENTOS

CREATE TABLE pagamentos (
  id_pagamento SERIAL PRIMARY KEY,
  id_forma_pagamento INT NOT NULL,
  id_ajuste_valor INT NOT NULL,
  data_hora_pagamento TIMESTAMP NOT NULL,
  valor_real MONEY NOT NULL,
  valor_pago MONEY NOT NULL,
  FOREIGN KEY (id_forma_pagamento)
    REFERENCES formas_pagamento(id_forma_pagamento),
  FOREIGN KEY (id_ajuste_valor)
    REFERENCES ajustes_valores(id_ajuste_valor)
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "pagamentos" already exists

[SQL: -- PAGAMENTOS

CREATE TABLE pagamentos (
  id_pagamento SERIAL PRIMARY KEY,
  id_forma_pagamento INT NOT NULL,
  id_ajuste_valor INT NOT NULL,
  data_hora_pagamento TIMESTAMP NOT NULL,
  valor_real MONEY NOT NULL,
  valor_pago MONEY NOT NULL,
  FOREIGN KEY (id_forma_pagamento)
    REFERENCES formas_pagamento(id_forma_pagamento),
  FOREIGN KEY (id_ajuste_valor)
    REFERENCES ajustes_valores(id_ajuste_valor)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- MOTORISTAS

CREATE TABLE motoristas (
  id_motorista SERIAL PRIMARY KEY,
  id_usuario INT NOT NULL,
  id_veiculo INT NOT NULL,
  cnh VARCHAR (50) UNIQUE NOT NULL,
  crlv VARCHAR (50) UNIQUE NOT NULL,
  cod_conta_pagamento VARCHAR (255) UNIQUE NOT NULL,
  FOREIGN KEY (id_usuario)
    REFERENCES usuarios (id_usuario),
  FOREIGN KEY (id_veiculo)
    REFERENCES veiculos (id_veiculo)
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "motoristas" already exists

[SQL: -- MOTORISTAS

CREATE TABLE motoristas (
  id_motorista SERIAL PRIMARY KEY,
  id_usuario INT NOT NULL,
  id_veiculo INT NOT NULL,
  cnh VARCHAR (50) UNIQUE NOT NULL,
  crlv VARCHAR (50) UNIQUE NOT NULL,
  cod_conta_pagamento VARCHAR (255) UNIQUE NOT NULL,
  FOREIGN KEY (id_usuario)
    REFERENCES usuarios (id_usuario),
  FOREIGN KEY (id_veiculo)
    REFERENCES veiculos (id_veiculo)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- VIAGENS

CREATE TABLE viagens(
  id_viagem SERIAL PRIMARY KEY,
  id_motorista INT NOT NULL,
  id_passageiro INT NOT NULL,
  id_categoria_utilizada INT NOT NULL,
  id_pagamento INT NOT NULL,
  endereco_origem VARCHAR(40) NOT NULL,
  endereco_destino VARCHAR(40) NOT NULL,
  data_hora_inicio TIMESTAMP NOT NULL,
  data_hora_fim TIMESTAMP NOT NULL,
  nota_ao_passageiro INT,
  nota_ao_motorista INT,
  FOREIGN KEY (id_motorista)
    REFERENCES motoristas(id_motorista),
  FOREIGN KEY (id_passageiro)
    REFERENCES passageiros(id_passageiro),
  FOREIGN KEY (id_categoria_utilizada)
    REFERENCES categorias_viagem(id_categoria),
  FOREIGN KEY (id_pagamento)
    REFERENCES pagamentos(id_pagamento)
);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "viagens" already exists

[SQL: -- VIAGENS

CREATE TABLE viagens(
  id_viagem SERIAL PRIMARY KEY,
  id_motorista INT NOT NULL,
  id_passageiro INT NOT NULL,
  id_categoria_utilizada INT NOT NULL,
  id_pagamento INT NOT NULL,
  endereco_origem VARCHAR(40) NOT NULL,
  endereco_destino VARCHAR(40) NOT NULL,
  data_hora_inicio TIMESTAMP NOT NULL,
  data_hora_fim TIMESTAMP NOT NULL,
  nota_ao_passageiro INT,
  nota_ao_motorista INT,
  FOREIGN KEY (id_motorista)
    REFERENCES motoristas(id_motorista),
  FOREIGN KEY (id_passageiro)
    REFERENCES passageiros(id_passageiro),
  FOREIGN KEY (id_categoria_utilizada)
    REFERENCES categorias_viagem(id_categoria),
  FOREIGN KEY (id_pagamento)
    REFERENCES pagamentos(id_pagamento)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- NOTAS_PASSAGEIROS

CREATE VIEW notas_passageiros AS (
  SELECT pa.id_passageiro, avg(nota_ao_passageiro) FROM passageiros pa LEFT JOIN viagens vi ON pa.id_passageiro = vi.id_passageiro GROUP BY pa.id_passageiro);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "notas_passageiros" already exists

[SQL: -- NOTAS_PASSAGEIROS

CREATE VIEW notas_passageiros AS (
  SELECT pa.id_passageiro, avg(nota_ao_passageiro) FROM passageiros pa LEFT JOIN viagens vi ON pa.id_passageiro = vi.id_passageiro GROUP BY pa.id_passageiro);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

-- NOTAS_MOTORISTAS

CREATE VIEW notas_motoristas AS (
  SELECT mt.id_motorista, avg(nota_ao_motorista) FROM motoristas mt LEFT JOIN viagens vi ON mt.id_motorista = vi.id_motorista GROUP BY mt.id_motorista);

 * postgresql://postgres:***@localhost:5432/sampledb
(psycopg2.errors.DuplicateTable) relation "notas_motoristas" already exists

[SQL: -- NOTAS_MOTORISTAS

CREATE VIEW notas_motoristas AS (
  SELECT mt.id_motorista, avg(nota_ao_motorista) FROM motoristas mt LEFT JOIN viagens vi ON mt.id_motorista = vi.id_motorista GROUP BY mt.id_motorista);]
(Background on this error at: https://sqlalche.me/e/20/f405)

## População das tabelas

In [ ]:
%%sql

delete from LOCACAO;
delete from PARTICIPACAO;
delete from EXEMPLAR;
delete from CLIENTE;
delete from PROFISSIONAL_CINEMA;
delete from FILME;
delete from PAPEL;

-- INSERTING into PAPEL
Insert into PAPEL (COD_PAPEL,DESCRICAO) values (1,'ATOR PRINCIPAL');
Insert into PAPEL (COD_PAPEL,DESCRICAO) values (2,'ATRIZ PRINCIPAL');
Insert into PAPEL (COD_PAPEL,DESCRICAO) values (3,'ATOR COADJUVANTE');
Insert into PAPEL (COD_PAPEL,DESCRICAO) values (4,'ATRIZ COADJUVANTE');
Insert into PAPEL (COD_PAPEL,DESCRICAO) values (5,'DIRETOR');

-- INSERTING into FILME
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (1,'Advogado do Diabo','The Devil''s Advocate',1999,145,6.35,18);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (2,'Amor Alem da Vida','What Dreams May Come',1998,90,11.87,12);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (4,'Ceu pode Esperar,O','Heaven can Wait',1978,120,4.18,0);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (3,'Casa dos Espiritos, A','The House of the Spirits',1993,150,8.16,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (5,'Contato','Contact',1997,150,7.32,12);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (6,'Corpo Fechado','Unbreakable',2000,110,9.57,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (7,'Em Algum Lugar do Passado','Somewhere in Time',1980,85,13.89,0);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (8,'Energia Pura','Powder',1995,75,5.76,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (9,'Feitico do Tempo','Groundhog Day',1993,115,13.76,0);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (10,'Fernao Capelo Gaivota','Jonathan Livingstone Seagull',1973,60,8.65,0);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (11,'Gasparzinho','Casper',1995,100,7.32,0);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (12,'Ghost: do Outro Lado da Vida','Ghost',1990,145,8.54,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (13,'Linha Mortal ','Flatliners',1990,null,5.88,18);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (15,'Mente Brilhante, Uma','A Beautiful Mind',2001,null,6.8,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (16,'Misterio da Libelula, O','Dragonfly',2002,null,7.81,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (17,'Morrendo e Aprendendo','Heart and Souls',1993,null,9.18,12);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (18,'Outros, Os','The Others',2001,null,9.43,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (19,'Paixao Eterna','Made in Heaven',1987,null,13.02,0);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (20,'Sexto Sentido','The Sixth Sense',1999,null,10.99,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (21,'Violino Vermelho','The Red Violin',1998,135,10.26,16);
Insert into FILME (COD_FILME,NOME,NOME_ORIGINAL,ANO,DURACAO_MINUTOS,PRECO_SUGERIDO_LOCACAO,CENSURA) values (22,'Voltar A Morrer','Dead Again',1991,120,7.74,18);

-- INSERTING into PROFISSIONAL_CINEMA
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (1,'Al Pacino',to_date('25/04/1940', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (2,'Alfre Woodard',to_date('08/11/1952', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (3,'Andie MacDowell',to_date('21/04/1958', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (4,'Andy Garcia',to_date('12/04/1956', 'dd/mm/yyyy'),'Cuba');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (5,'Annabella Sciorra',to_date('29/03/1960', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (6,'Antonio Banderas',to_date('10/08/1960', 'dd/mm/yyyy'),'Espanha');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (7,'Bill Murray',to_date('21/09/1950', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (8,'Bill Pullman',to_date('17/12/1953', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (9,'Bille August',to_date('09/11/1948', 'dd/mm/yyyy'),'Dinamarca');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (10,'Brad Silberling',to_date('08/09/1963', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (11,'Bruce Willis',to_date('19/03/1955', 'dd/mm/yyyy'),'Alemanha');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (12,'Charlayne Woodard',to_date('29/12/1953', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (13,'Charlize Theron',to_date('07/08/1975', 'dd/mm/yyyy'),'africa do Sul');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (14,'Chris Elliott',to_date('31/05/1960', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (15,'Christopher Plummer',to_date('13/12/1929', 'dd/mm/yyyy'),'Canada');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (16,'Christopher Reeve',to_date('25/09/1952', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (17,'Cuba Gooding Jr',to_date('02/01/1968', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (18,'David Morse',to_date('11/10/1953', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (19,'Demi Moore',to_date('11/11/1962', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (20,'Dyan Cannon',to_date('04/01/1937', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (21,'Ed Harris',to_date('28/11/1950', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (22,'Emma Thompson',to_date('15/04/1959', 'dd/mm/yyyy'),'Inglaterra');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (23,'Geoffrey Blake',to_date('20/08/1962', 'dd/mm/yyyy'),null);
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (24,'Glenn Close',to_date('19/03/1947', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (25,'Hall Bartlett',to_date('27/11/1922', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (26,'Harold Ramis',to_date('21/11/1944', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (27,'James Mason',to_date('15/05/1909', 'dd/mm/yyyy'),'Inglaterra');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (28,'Jane Seymour',to_date('15/02/1951', 'dd/mm/yyyy'),'Inglaterra');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (29,'Jeannot Szwarc',to_date('21/11/1939', 'dd/mm/yyyy'),'Franca');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (30,'Jena Malone',to_date('21/11/1984', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (31,'Jeremy Irons',to_date('19/09/1948', 'dd/mm/yyyy'),'Inglaterra');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (32,'Jerry Zucker',to_date('11/03/1950', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (33,'Jodie Foster',to_date('19/11/1962', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (34,'Judith Ivey',to_date('04/09/1951', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (35,'Julia Roberts',to_date('28/10/1967', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (36,'Julie Christie',to_date('14/04/1941', 'dd/mm/yyyy'),'India');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (37,'Keanu Reeves',to_date('02/09/1964', 'dd/mm/yyyy'),'Libano');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (38,'Kenneth Branagh',to_date('10/12/1960', 'dd/mm/yyyy'),'Inglaterra');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (39,'Kevin Bacon',to_date('08/07/1958', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (40,'Kevin Costner',to_date('18/01/1955', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (41,'Kiefer Sutherland',to_date('21/12/1966', 'dd/mm/yyyy'),'Inglaterra');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (42,'Kyra Sedgwick',to_date('19/08/1955', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (43,'Lance Henriksen',to_date('05/05/1940', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (44,'Marita Geraghty',null,null);
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (45,'Mary Steenburgen',to_date('08/02/1953', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (46,'Meryl Streep',to_date('22/06/1949', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (47,'M. Night Shyamalan',to_date('06/08/1970', 'dd/mm/yyyy'),'India');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (48,'Nicole Kidman',to_date('20/06/1967', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (49,'Patrick Swayze',to_date('18/08/1952', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (50,'Robert Downey Jr,',to_date('04/04/1965', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (51,'Robert Zemeckis',to_date('14/05/1951', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (52,'Robin Williams',to_date('21/07/1951', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (53,'Robin Wright Penn',to_date('08/04/1966', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (54,'Russell Crowe',to_date('07/04/1964', 'dd/mm/yyyy'),'Nova Zelandia');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (55,'Samuel L. Jackson',to_date('21/12/1948', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (56,'Sean Patrick Flanery',to_date('11/10/1965', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (57,'Susan Tyrrell',to_date('18/03/1945', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (58,'Taylor Hackford',to_date('31/12/1944', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (59,'Teresa Wright',to_date('27/10/1918', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (60,'Tony Goldwyn',to_date('20/05/1960', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (61,'Timothy Hutton',to_date('16/08/1960', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (62,'Victor Salva',to_date('29/03/1958', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (63,'Vincent Ward',null,'Nova Zelandia');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (64,'Warren Beatty',to_date('30/03/1937', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (65,'Whoopi Goldberg',to_date('13/11/1955', 'dd/mm/yyyy'),'EUA');
Insert into PROFISSIONAL_CINEMA (COD_PROFISSIONAL_CINEMA,NOME,DT_NASCIMENTO,PAIS_ORIGEM) values (66, 'Ana', to_date('01/01/1980', 'dd/mm/yyyy'), 'Brasil');

-- INSERTING into PARTICIPACAO
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,7,9);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,11,6);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,11,20);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,16,7);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,18,5);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,31,4);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,37,1);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,38,22);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,40,16);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,41,13);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,49,12);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,50,17);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,52,2);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,54,15);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,56,8);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,61,19);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1,64,3);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,2,17);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,3,9);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,5,2);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,13,1);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,19,12);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,22,22);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,28,7);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,30,5);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,35,13);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,36,3);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,45,8);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,46,4);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,48,18);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2,53,6);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,1,1);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,4,22);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,8,11);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,14,9);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,15,7);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,15,15);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,17,2);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,21,15);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,23,5);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,27,3);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,27,4);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,39,13);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,43,8);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,52,22);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,55,6);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,55,21);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3,60,12);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,12,6);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,20,3);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,24,4);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,33,5);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,34,1);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,34,2);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,42,17);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,44,9);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,57,8);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,59,7);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4,65,12);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,9,4);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,10,11);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,25,10);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,26,9);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,29,7);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,32,12);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,38,22);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,47,6);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,47,20);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,51,5);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,58,1);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,62,8);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,63,2);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5,64,3);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (1, 66, 2);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (2, 66, 2);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (3, 66, 4);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (4, 66, 2);
Insert into PARTICIPACAO (COD_PAPEL,COD_PROFISSIONAL_CINEMA,COD_FILME) values (5, 66, 2);

-- INSERTING into CLIENTE
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (1,null,'Joaquim Maria Machado de Assis ','32-2113-6009','Rua Rio de Janeiro, 1839','Bicas','MG','joaquim@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (2,null,'Joao Paulo Emilio Cristovao dos Santos Coelho Barreto','32-2431-6112','Rua Rio de Janeiro, 1881/201','Bicas','MG','joao@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (3,2,'Afonso Henriques de Lima Barreto ',null,'Rua Rio de Janeiro, 1881/301','Bicas','MG','afonso@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (4,null,'Julia Valentim da Silveira Lopes de Almeida ',null,'Rua Rio de Janeiro, 1934','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (5,null,'Joao Simoes Lopes Neto ',null,'Rua Pelotas, 1865','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (6,null,'Jose Bento Renato Monteiro Lobato ',null,'Rua Taubate, 1882','Guaratingueta','SP','josebento@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (7,null,'Antonio Castilho de Alcantara Machado d''Oliveira',null,'Av, Sao Paulo, 1901','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (8,null,'Graciliano Ramos de Oliveira ','11-3590-0750','Rua Qebrangulo, 1892','Queluz','SP',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (9,null,'Eddy Dias da Cruz ','32-2432-9877','Rua Rio de Janeiro, 1907','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (10,null,'Anibal Monteiro Machado ',null,'Rua Sabara, 1884','Bicas','MG','anibal@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (11,null,'Mario Raul de Morais Andrade ',null,'Av, Sao Paulo, 1893','Bicas','MG','mario@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (12,null,'Bernardo elis Fleury de Campos Curado ','21-2490-9730','Rua Corumba de Goias, 1915/201','Tres Rios','RJ',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (13,null,'Carlos Drummond de Andrade ','32-2655-9711','Rua Itabira, 1902','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (14,null,'Osman da Costa Lins ',null,'Rua Vitoria de Santo Antao, 1924','Vitoria','ES',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (15,null,'Murilo Eugenio Rubiao ','32-2761-9891','Rua Carmo de Minas, 1916','Juiz de Fora','MG','murilo@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (16,null,'Samuel Rawet',null,'Av, Polonia, 1929','Petropolis','RJ','samuel@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (17,null,'Rubem Braga ',null,'Rua Cachoeiro de Itapemirim, 1913','S,J, Nepomucemo','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (18,null,'Rachel de Queiroz',null,'Av, Fortaleza, 1910','S,J, Nepomucemo','MG','rachel@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (19,null,'erico Lopes Verissimo',null,'Rua Cruz Alta, 1905','S,J, Nepomucemo','MG','erico@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (21,null,'Jose J, Veiga','21-2740-9890','Rua Corumba de Goias, 1915/301','Tres Rios','RJ',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (22,null,'Jose Rubem Fonseca',null,'Av, Juiz de Fora, 1911','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (20,22,'Dinah Silveira de Queiroz',null,'Av, Sao Paulo, 1911','Bicas','MG','dinah@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (23,16,'Clarice Lispector',null,'Av, Ucrania, 1920','Petropolis','RJ','clarice@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (24,null,'Otto de Oliveira Lara Resende ',null,'Rua Sao Joao del Rey, 1922','Juiz de Fora','MG','otto@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (25,null,'Origenes Lessa ',null,'Rua Lencois Paulistas, 1903','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (26,null,'Lygia Fagundes Telles ',null,'Av, Sao Paulo, 1923','Bicas','MG','lygia@dominio.com');
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (27,2,'Fernando Tavares Sabino ',null,'Av, Belo Horizone, 1923','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (28,null,'Dalton Jerson Trevisan ','32-2512-0808','Rua Curitiba, 1925','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (29,null,'Carlos Heitor Cony ',null,'Rua Rio de Janeiro, 1926','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (30,19,'Roberto Francis Drummond ','32-2114-9587','Rua Ferros, 1933','S,J, Nepomucemo','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (31,null,'Nelida Cuinas Pinon ',null,'Rua Rio de Janeiro, 1937','Bicas','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (32,null,'Joao Ubaldo Osorio Pimentel Ribeiro ','32-2661-7755','Rua Itaparica, 1923','Juiz de Fora','MG',null);
Insert into CLIENTE (COD_CLIENTE,CLIENTE_TITULAR,NOME,TELEFONE,ENDERECO,CIDADE,UF,EMAIL) values (33,9,'Sergio Sant''Anna ',null,'Rua Rio de Janeiro, 1941','Bicas','MG','sergio@dominio.com');

-- INSERTING into EXEMPLAR
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (1,1);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (2,1);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (3,1);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (4,1);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (5,1);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (6,1);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (7,1);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (8,1);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (9,2);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (10,3);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (11,3);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (12,3);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (13,3);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (14,3);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (15,3);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (16,3);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (17,4);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (18,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (19,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (20,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (21,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (22,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (23,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (24,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (25,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (26,5);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (27,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (28,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (29,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (30,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (31,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (32,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (33,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (34,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (35,6);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (36,7);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (37,7);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (38,7);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (39,7);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (40,7);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (41,8);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (42,8);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (43,8);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (44,8);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (45,9);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (46,9);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (47,9);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (48,9);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (49,9);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (50,9);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (51,9);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (52,10);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (53,10);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (54,10);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (55,10);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (56,11);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (57,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (58,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (59,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (60,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (61,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (62,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (63,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (64,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (65,12);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (66,13);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (67,13);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (68,15);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (69,16);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (70,16);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (71,16);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (72,16);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (73,16);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (74,16);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (75,16);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (76,17);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (77,17);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (78,17);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (79,17);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (80,17);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (81,17);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (82,18);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (83,19);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (84,20);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (85,20);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (86,20);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (87,20);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (88,20);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (89,20);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (90,20);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (91,20);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (92,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (93,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (94,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (95,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (96,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (97,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (98,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (99,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (100,21);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (101,22);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (102,22);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (103,22);
Insert into EXEMPLAR (COD_EXEMPLAR,COD_FILME) values (104,22);

-- INSERTING into LOCACAO
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,17,to_date('01/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,18,to_date('07/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,18,to_date('10/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,18,to_date('18/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,18,to_date('06/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,18,to_date('20/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (15,18,to_date('26/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,19,to_date('21/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,19,to_date('21/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,20,to_date('20/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,21,to_date('16/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,21,to_date('11/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,21,to_date('20/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,21,to_date('19/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,21,to_date('29/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (15,21,to_date('28/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,22,to_date('14/08/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,22,to_date('08/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,23,to_date('08/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,23,to_date('07/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,23,to_date('25/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,23,to_date('10/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,23,to_date('13/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (15,23,to_date('22/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,24,to_date('06/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,24,to_date('26/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,24,to_date('24/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,24,to_date('22/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,25,to_date('16/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,25,to_date('12/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,25,to_date('17/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,25,to_date('21/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,25,to_date('17/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,26,to_date('08/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,27,to_date('31/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,27,to_date('02/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,27,to_date('19/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,27,to_date('07/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,27,to_date('15/11/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (15,27,to_date('07/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,28,to_date('16/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,28,to_date('18/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,28,to_date('03/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,28,to_date('30/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,29,to_date('29/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,29,to_date('03/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,29,to_date('20/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,29,to_date('29/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,30,to_date('14/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,30,to_date('05/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,1,to_date('13/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,2,to_date('06/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,3,to_date('13/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,4,to_date('29/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,5,to_date('17/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,6,to_date('24/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,7,to_date('17/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,8,to_date('16/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,9,to_date('16/02/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,10,to_date('25/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,11,to_date('24/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,12,to_date('20/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,13,to_date('30/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,14,to_date('20/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,15,to_date('29/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,16,to_date('27/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,17,to_date('03/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,18,to_date('02/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,19,to_date('07/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,20,to_date('08/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,21,to_date('14/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,22,to_date('18/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,23,to_date('30/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,24,to_date('05/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,25,to_date('03/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,26,to_date('02/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,27,to_date('05/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,28,to_date('02/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,29,to_date('23/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (17,30,to_date('20/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,1,to_date('22/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,1,to_date('29/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,1,to_date('04/08/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,1,to_date('19/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,1,to_date('21/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,2,to_date('17/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,2,to_date('23/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,2,to_date('19/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,2,to_date('27/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,2,to_date('24/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,3,to_date('22/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,3,to_date('17/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,3,to_date('12/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,3,to_date('27/05/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,3,to_date('10/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,4,to_date('13/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,4,to_date('01/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,4,to_date('22/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,4,to_date('25/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,4,to_date('03/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,4,to_date('03/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,4,to_date('12/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (25,4,to_date('02/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,5,to_date('25/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,6,to_date('24/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,6,to_date('23/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,6,to_date('28/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,6,to_date('19/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,6,to_date('15/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,7,to_date('01/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,7,to_date('26/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,8,to_date('04/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,9,to_date('17/05/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,9,to_date('30/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,9,to_date('16/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,9,to_date('24/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,9,to_date('30/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,10,to_date('13/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,10,to_date('18/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,10,to_date('18/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,10,to_date('19/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,10,to_date('13/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,10,to_date('13/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,11,to_date('19/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,11,to_date('14/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,11,to_date('07/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,11,to_date('02/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,11,to_date('21/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,12,to_date('05/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,12,to_date('21/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,12,to_date('11/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,13,to_date('07/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,13,to_date('14/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,13,to_date('11/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,13,to_date('04/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,13,to_date('20/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,13,to_date('23/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,13,to_date('14/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (25,13,to_date('10/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,14,to_date('24/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,14,to_date('01/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,14,to_date('27/03/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,14,to_date('24/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,14,to_date('07/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,14,to_date('15/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,14,to_date('18/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,15,to_date('23/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,15,to_date('26/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,16,to_date('07/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,16,to_date('10/04/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,16,to_date('07/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,16,to_date('07/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,17,to_date('03/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,17,to_date('03/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,17,to_date('09/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,17,to_date('18/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,17,to_date('18/08/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,17,to_date('31/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,17,to_date('26/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,18,to_date('14/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,18,to_date('22/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,18,to_date('17/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,18,to_date('20/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,18,to_date('28/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,18,to_date('21/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,19,to_date('10/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,19,to_date('23/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,19,to_date('06/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,19,to_date('05/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,19,to_date('29/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,19,to_date('31/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,19,to_date('30/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (25,19,to_date('07/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,20,to_date('14/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,20,to_date('23/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,20,to_date('10/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,20,to_date('02/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,20,to_date('18/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,20,to_date('04/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,21,to_date('20/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,21,to_date('16/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,21,to_date('08/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,21,to_date('11/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,22,to_date('17/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,22,to_date('03/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,22,to_date('23/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,22,to_date('05/08/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,22,to_date('20/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,22,to_date('11/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,22,to_date('17/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,23,to_date('07/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,23,to_date('28/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,24,to_date('14/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,24,to_date('29/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,24,to_date('17/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,24,to_date('04/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,24,to_date('15/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,24,to_date('10/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,24,to_date('18/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (25,24,to_date('15/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,25,to_date('28/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,25,to_date('15/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,26,to_date('04/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,26,to_date('09/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,26,to_date('24/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,26,to_date('15/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,26,to_date('03/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,26,to_date('03/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,26,to_date('26/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (25,26,to_date('30/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,27,to_date('29/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,27,to_date('05/08/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,27,to_date('15/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,28,to_date('21/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,28,to_date('24/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,28,to_date('03/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,28,to_date('11/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,28,to_date('31/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,28,to_date('17/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,28,to_date('03/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (25,28,to_date('16/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,29,to_date('11/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (18,30,to_date('26/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (19,30,to_date('26/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (20,30,to_date('12/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (21,30,to_date('06/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (22,30,to_date('14/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (23,30,to_date('26/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (24,30,to_date('03/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (25,30,to_date('13/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,1,to_date('28/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,2,to_date('05/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,2,to_date('22/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,2,to_date('10/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,3,to_date('17/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,3,to_date('03/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,3,to_date('06/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,3,to_date('27/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,3,to_date('29/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,3,to_date('17/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,3,to_date('10/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (34,3,to_date('04/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,4,to_date('09/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,4,to_date('08/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,4,to_date('22/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,4,to_date('03/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,4,to_date('07/02/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,4,to_date('30/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,5,to_date('02/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,5,to_date('30/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,5,to_date('08/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,5,to_date('24/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,5,to_date('13/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,5,to_date('26/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,5,to_date('31/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,6,to_date('01/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,6,to_date('25/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,6,to_date('12/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,6,to_date('23/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,7,to_date('27/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,7,to_date('11/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,7,to_date('17/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,7,to_date('11/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,7,to_date('05/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,7,to_date('19/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,7,to_date('03/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,8,to_date('19/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,8,to_date('18/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,8,to_date('10/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,8,to_date('07/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,9,to_date('05/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,9,to_date('09/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,9,to_date('22/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,9,to_date('29/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,9,to_date('09/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,9,to_date('15/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,9,to_date('21/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,10,to_date('01/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,10,to_date('20/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,10,to_date('21/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,10,to_date('08/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,10,to_date('01/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,10,to_date('15/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,11,to_date('17/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,12,to_date('07/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,12,to_date('16/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,13,to_date('24/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,13,to_date('09/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,13,to_date('18/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,13,to_date('30/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,14,to_date('11/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,14,to_date('24/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,14,to_date('20/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,14,to_date('19/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,14,to_date('08/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,14,to_date('04/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,14,to_date('17/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,15,to_date('08/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,16,to_date('11/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,16,to_date('03/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,16,to_date('19/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,16,to_date('04/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,16,to_date('16/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,16,to_date('16/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,16,to_date('27/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (34,16,to_date('07/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,17,to_date('04/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,17,to_date('11/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,17,to_date('25/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,18,to_date('08/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,18,to_date('19/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,18,to_date('08/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,18,to_date('15/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,18,to_date('19/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,18,to_date('21/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,19,to_date('02/08/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,19,to_date('18/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,19,to_date('19/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,19,to_date('19/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,19,to_date('01/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,19,to_date('24/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,19,to_date('21/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (34,19,to_date('20/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,20,to_date('25/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,20,to_date('15/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,20,to_date('21/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,20,to_date('02/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,20,to_date('04/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,21,to_date('02/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,21,to_date('09/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,21,to_date('01/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,21,to_date('23/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,22,to_date('30/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,22,to_date('16/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,22,to_date('10/04/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,22,to_date('08/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,22,to_date('30/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,22,to_date('27/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,22,to_date('03/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,23,to_date('08/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,23,to_date('27/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,23,to_date('04/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,23,to_date('15/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,23,to_date('24/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,24,to_date('10/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,24,to_date('14/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,24,to_date('24/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,24,to_date('12/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,25,to_date('18/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,26,to_date('07/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,26,to_date('27/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,27,to_date('12/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,27,to_date('16/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,27,to_date('29/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,27,to_date('21/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,27,to_date('06/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,27,to_date('11/08/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,27,to_date('31/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (34,27,to_date('16/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,28,to_date('04/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,28,to_date('08/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,28,to_date('03/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,28,to_date('18/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,28,to_date('21/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (32,28,to_date('25/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (33,28,to_date('13/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (34,28,to_date('24/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,29,to_date('09/08/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (28,29,to_date('28/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (29,29,to_date('23/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (30,29,to_date('28/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (31,29,to_date('03/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (27,30,to_date('16/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,1,to_date('22/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,1,to_date('20/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,2,to_date('22/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,2,to_date('07/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,2,to_date('13/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,2,to_date('05/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,3,to_date('26/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,3,to_date('08/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,3,to_date('11/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,3,to_date('02/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,4,to_date('16/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,4,to_date('05/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,5,to_date('17/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,5,to_date('10/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,5,to_date('13/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,5,to_date('06/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,6,to_date('16/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,7,to_date('03/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,7,to_date('19/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,7,to_date('03/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,7,to_date('04/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,8,to_date('06/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,8,to_date('29/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,8,to_date('09/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,9,to_date('08/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,9,to_date('16/08/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,9,to_date('01/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,9,to_date('10/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,10,to_date('12/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,10,to_date('14/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,10,to_date('04/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,10,to_date('08/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,11,to_date('24/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,12,to_date('25/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,12,to_date('26/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,12,to_date('02/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,12,to_date('23/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,13,to_date('07/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,14,to_date('26/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,14,to_date('11/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,14,to_date('20/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,14,to_date('27/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,15,to_date('26/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,15,to_date('15/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,15,to_date('24/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,15,to_date('18/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,16,to_date('10/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,16,to_date('28/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,16,to_date('06/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,17,to_date('14/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,17,to_date('13/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,17,to_date('28/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,17,to_date('24/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,18,to_date('16/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,19,to_date('09/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,19,to_date('05/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,20,to_date('17/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,20,to_date('13/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,21,to_date('25/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,21,to_date('28/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,22,to_date('07/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,22,to_date('02/11/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,22,to_date('21/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,23,to_date('07/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,24,to_date('07/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,24,to_date('31/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,24,to_date('28/02/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,25,to_date('12/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,26,to_date('09/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,26,to_date('12/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,26,to_date('02/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,27,to_date('05/11/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,27,to_date('19/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,28,to_date('11/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,29,to_date('21/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,29,to_date('17/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (36,30,to_date('01/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (37,30,to_date('13/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (38,30,to_date('27/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (39,30,to_date('01/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,1,to_date('07/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,1,to_date('02/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,2,to_date('31/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,2,to_date('09/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,3,to_date('15/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,3,to_date('01/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,4,to_date('26/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,4,to_date('10/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,4,to_date('10/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,5,to_date('16/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,5,to_date('25/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,5,to_date('04/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,6,to_date('25/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,6,to_date('13/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,6,to_date('15/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,7,to_date('24/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,7,to_date('29/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,7,to_date('15/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,8,to_date('23/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,9,to_date('20/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,10,to_date('21/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,10,to_date('29/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,10,to_date('06/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,11,to_date('24/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,11,to_date('27/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,11,to_date('06/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,12,to_date('07/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,13,to_date('28/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,13,to_date('23/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,13,to_date('26/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,14,to_date('24/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,15,to_date('09/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,16,to_date('21/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,16,to_date('10/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,16,to_date('27/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,17,to_date('21/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,17,to_date('18/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,18,to_date('13/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,19,to_date('28/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,19,to_date('04/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,20,to_date('29/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,21,to_date('16/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,21,to_date('10/08/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,21,to_date('21/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,22,to_date('09/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,22,to_date('20/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,22,to_date('26/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,23,to_date('07/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,23,to_date('27/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,24,to_date('19/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,24,to_date('30/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,25,to_date('12/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,25,to_date('02/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,26,to_date('12/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,26,to_date('29/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,26,to_date('17/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,27,to_date('09/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,27,to_date('06/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,27,to_date('21/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,28,to_date('02/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,28,to_date('09/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,29,to_date('09/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,29,to_date('03/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (41,30,to_date('22/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (42,30,to_date('22/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (43,30,to_date('22/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,1,to_date('02/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,1,to_date('07/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,1,to_date('16/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,1,to_date('23/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,2,to_date('23/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,2,to_date('18/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,2,to_date('31/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,2,to_date('23/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,2,to_date('29/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (50,2,to_date('01/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,3,to_date('23/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,3,to_date('21/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,3,to_date('21/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,3,to_date('12/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,3,to_date('02/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,4,to_date('02/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,5,to_date('23/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,6,to_date('29/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,6,to_date('18/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,6,to_date('16/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,6,to_date('21/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,6,to_date('28/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,7,to_date('25/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,8,to_date('03/09/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,8,to_date('25/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,9,to_date('01/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,9,to_date('02/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,9,to_date('18/08/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,9,to_date('19/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,10,to_date('27/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,10,to_date('04/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,10,to_date('19/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,11,to_date('28/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,11,to_date('12/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,11,to_date('27/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,12,to_date('18/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,12,to_date('30/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,13,to_date('06/02/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,13,to_date('12/09/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,13,to_date('17/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,13,to_date('30/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,13,to_date('22/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,14,to_date('21/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,14,to_date('30/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,14,to_date('13/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,14,to_date('08/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,14,to_date('09/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (50,14,to_date('17/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,15,to_date('24/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,16,to_date('26/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,16,to_date('07/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,16,to_date('03/08/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,16,to_date('13/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,16,to_date('14/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (50,16,to_date('22/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,17,to_date('25/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,17,to_date('09/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,18,to_date('22/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,19,to_date('08/03/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,19,to_date('19/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,19,to_date('18/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,19,to_date('25/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,19,to_date('01/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (50,19,to_date('13/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,20,to_date('28/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,20,to_date('11/02/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,20,to_date('04/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,20,to_date('13/04/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,21,to_date('15/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,21,to_date('11/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,21,to_date('25/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,21,to_date('04/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,21,to_date('19/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,22,to_date('01/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,23,to_date('18/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,24,to_date('28/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,24,to_date('14/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,25,to_date('07/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,25,to_date('21/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,25,to_date('17/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,25,to_date('08/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,25,to_date('07/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,26,to_date('09/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,26,to_date('09/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,26,to_date('18/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,27,to_date('29/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,27,to_date('26/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,27,to_date('10/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,28,to_date('29/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,28,to_date('02/03/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,28,to_date('08/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,28,to_date('26/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,29,to_date('16/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,29,to_date('01/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,29,to_date('14/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,29,to_date('08/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,29,to_date('13/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (45,30,to_date('09/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (46,30,to_date('28/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (47,30,to_date('02/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (48,30,to_date('17/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (49,30,to_date('09/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (50,30,to_date('18/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,1,to_date('11/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,1,to_date('12/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,2,to_date('19/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,2,to_date('11/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,2,to_date('04/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,3,to_date('25/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,4,to_date('01/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,4,to_date('14/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,4,to_date('20/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,5,to_date('29/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,5,to_date('21/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,6,to_date('30/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,7,to_date('06/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,7,to_date('31/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,7,to_date('09/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,8,to_date('27/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,9,to_date('03/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,9,to_date('13/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,9,to_date('07/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,10,to_date('24/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,10,to_date('25/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,10,to_date('10/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,11,to_date('28/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,11,to_date('06/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,12,to_date('25/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,12,to_date('17/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,12,to_date('20/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,13,to_date('09/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,13,to_date('26/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,14,to_date('08/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,14,to_date('12/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,14,to_date('16/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,15,to_date('08/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,16,to_date('02/09/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,16,to_date('07/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,17,to_date('28/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,18,to_date('13/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,18,to_date('27/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,18,to_date('12/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,19,to_date('13/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,19,to_date('18/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,19,to_date('01/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,20,to_date('01/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,20,to_date('21/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,20,to_date('29/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,21,to_date('04/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,21,to_date('17/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,22,to_date('21/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,23,to_date('06/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,24,to_date('19/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,24,to_date('18/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,25,to_date('28/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,26,to_date('06/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,26,to_date('22/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,27,to_date('22/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,28,to_date('28/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,28,to_date('22/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (54,28,to_date('10/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,29,to_date('09/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (52,30,to_date('18/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (53,30,to_date('08/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,1,to_date('22/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,2,to_date('16/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,3,to_date('04/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,4,to_date('24/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,5,to_date('05/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,6,to_date('14/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,7,to_date('24/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,8,to_date('18/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,9,to_date('27/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,10,to_date('18/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,11,to_date('16/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,12,to_date('18/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,13,to_date('14/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,14,to_date('31/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,15,to_date('24/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,16,to_date('14/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,17,to_date('14/05/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,18,to_date('08/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,19,to_date('20/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,20,to_date('20/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,21,to_date('06/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,22,to_date('08/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,23,to_date('16/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,24,to_date('23/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,25,to_date('03/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,26,to_date('01/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,27,to_date('10/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,28,to_date('28/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,29,to_date('20/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (56,30,to_date('25/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,1,to_date('13/05/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,1,to_date('10/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,1,to_date('23/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,1,to_date('17/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,1,to_date('14/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,1,to_date('27/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,2,to_date('12/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,2,to_date('08/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,2,to_date('08/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,2,to_date('28/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,2,to_date('04/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,3,to_date('27/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,3,to_date('24/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,3,to_date('31/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,4,to_date('08/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,4,to_date('19/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,4,to_date('21/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,4,to_date('20/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,4,to_date('30/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,4,to_date('27/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,5,to_date('07/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,5,to_date('08/11/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,6,to_date('01/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,6,to_date('16/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,6,to_date('05/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,6,to_date('28/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,6,to_date('31/05/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,7,to_date('15/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,7,to_date('25/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,7,to_date('21/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,7,to_date('20/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,7,to_date('30/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,7,to_date('15/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,7,to_date('25/02/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (64,7,to_date('05/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,8,to_date('23/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,8,to_date('13/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,9,to_date('21/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,9,to_date('08/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,9,to_date('04/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,9,to_date('04/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,9,to_date('15/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,9,to_date('27/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,10,to_date('18/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,10,to_date('19/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,10,to_date('30/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,10,to_date('16/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,10,to_date('15/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,10,to_date('20/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,10,to_date('20/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,11,to_date('31/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,11,to_date('14/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,11,to_date('11/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,11,to_date('02/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,12,to_date('18/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,13,to_date('31/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,13,to_date('25/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,13,to_date('06/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,13,to_date('28/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,14,to_date('27/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,14,to_date('10/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,14,to_date('02/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,14,to_date('08/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,15,to_date('08/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,16,to_date('13/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,16,to_date('22/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,16,to_date('19/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,16,to_date('16/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,16,to_date('06/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,16,to_date('29/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,16,to_date('27/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,17,to_date('09/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,17,to_date('07/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,17,to_date('12/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,17,to_date('20/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,17,to_date('23/08/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,17,to_date('15/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,17,to_date('28/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,18,to_date('30/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,18,to_date('14/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,19,to_date('19/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,19,to_date('13/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,19,to_date('30/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,19,to_date('05/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,19,to_date('05/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,19,to_date('04/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,19,to_date('22/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,20,to_date('24/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,20,to_date('10/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,20,to_date('31/08/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,20,to_date('10/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,20,to_date('27/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,20,to_date('09/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,20,to_date('13/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,21,to_date('06/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,21,to_date('03/03/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,21,to_date('14/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,21,to_date('26/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,21,to_date('14/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,21,to_date('01/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,22,to_date('16/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,22,to_date('27/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,22,to_date('09/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,22,to_date('07/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,22,to_date('27/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,22,to_date('30/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,22,to_date('10/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (64,22,to_date('25/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,23,to_date('18/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,23,to_date('22/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,24,to_date('10/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,24,to_date('16/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,24,to_date('16/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,24,to_date('19/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,24,to_date('15/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,24,to_date('13/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,24,to_date('25/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (64,24,to_date('07/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,25,to_date('21/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,25,to_date('19/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,25,to_date('22/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,25,to_date('29/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,25,to_date('23/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,25,to_date('28/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,26,to_date('11/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,26,to_date('02/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,27,to_date('27/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,27,to_date('12/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,27,to_date('22/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,27,to_date('05/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,27,to_date('04/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,27,to_date('02/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,27,to_date('12/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (64,27,to_date('19/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,28,to_date('16/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,29,to_date('13/08/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,29,to_date('21/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,29,to_date('16/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,29,to_date('25/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,29,to_date('01/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,29,to_date('20/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,29,to_date('22/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (64,29,to_date('27/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (57,30,to_date('10/02/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (58,30,to_date('03/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (59,30,to_date('17/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (60,30,to_date('27/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (61,30,to_date('12/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (62,30,to_date('17/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (63,30,to_date('06/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (64,30,to_date('31/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,1,to_date('29/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,2,to_date('24/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,3,to_date('08/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,4,to_date('14/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,5,to_date('27/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,6,to_date('09/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,7,to_date('16/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,8,to_date('01/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,9,to_date('15/11/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,10,to_date('14/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,11,to_date('16/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,12,to_date('05/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,13,to_date('16/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,14,to_date('12/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,15,to_date('27/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,16,to_date('10/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,17,to_date('12/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,18,to_date('22/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,19,to_date('29/08/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,20,to_date('04/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,21,to_date('01/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,22,to_date('15/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,23,to_date('31/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,24,to_date('08/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,25,to_date('06/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,26,to_date('01/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,27,to_date('23/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,28,to_date('26/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,29,to_date('13/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (66,30,to_date('01/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,1,to_date('02/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,2,to_date('22/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,3,to_date('22/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,4,to_date('12/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,5,to_date('20/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,6,to_date('23/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,7,to_date('01/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,8,to_date('11/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,9,to_date('28/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,10,to_date('22/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,11,to_date('10/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,12,to_date('16/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,13,to_date('30/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,14,to_date('25/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,15,to_date('01/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,16,to_date('27/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,17,to_date('20/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,18,to_date('22/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,19,to_date('28/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,20,to_date('10/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,21,to_date('24/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,22,to_date('28/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,23,to_date('30/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,24,to_date('12/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,25,to_date('25/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,26,to_date('30/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,27,to_date('04/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,28,to_date('05/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,29,to_date('25/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (68,30,to_date('16/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,1,to_date('10/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,1,to_date('13/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,1,to_date('27/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,1,to_date('07/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,1,to_date('23/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (74,1,to_date('13/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,2,to_date('01/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,2,to_date('16/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,2,to_date('24/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,2,to_date('14/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,2,to_date('22/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,3,to_date('23/03/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,3,to_date('06/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,3,to_date('13/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,3,to_date('18/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,3,to_date('27/04/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (74,3,to_date('13/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,4,to_date('27/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,4,to_date('27/11/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,4,to_date('29/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,4,to_date('03/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,4,to_date('27/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,5,to_date('25/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,5,to_date('12/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,5,to_date('08/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,5,to_date('10/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,5,to_date('20/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (74,5,to_date('06/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,6,to_date('07/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,6,to_date('20/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,6,to_date('18/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,7,to_date('15/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,7,to_date('09/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,7,to_date('17/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,8,to_date('23/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,8,to_date('26/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,9,to_date('26/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,9,to_date('03/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,10,to_date('20/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,10,to_date('24/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,10,to_date('21/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,10,to_date('24/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,11,to_date('16/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,11,to_date('17/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,12,to_date('10/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,12,to_date('21/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,12,to_date('25/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,12,to_date('22/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,12,to_date('04/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (74,12,to_date('20/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,13,to_date('11/08/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,13,to_date('15/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,13,to_date('28/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,13,to_date('06/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,14,to_date('16/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,14,to_date('04/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,14,to_date('13/08/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,15,to_date('23/05/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,15,to_date('23/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,15,to_date('11/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,15,to_date('18/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,15,to_date('24/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,16,to_date('12/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,17,to_date('24/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,17,to_date('29/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,17,to_date('21/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,17,to_date('05/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,17,to_date('27/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,18,to_date('20/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,18,to_date('12/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,18,to_date('14/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,18,to_date('31/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,18,to_date('14/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (74,18,to_date('25/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,19,to_date('24/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,20,to_date('03/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,21,to_date('02/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,22,to_date('12/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,22,to_date('03/07/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,23,to_date('15/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,23,to_date('09/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,23,to_date('18/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,23,to_date('05/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,24,to_date('17/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,24,to_date('16/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,24,to_date('01/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,24,to_date('25/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,25,to_date('18/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,25,to_date('13/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,25,to_date('31/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,26,to_date('16/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,26,to_date('27/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,26,to_date('27/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,26,to_date('31/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,26,to_date('30/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (74,26,to_date('17/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,27,to_date('22/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,27,to_date('25/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,27,to_date('29/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,27,to_date('03/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (73,27,to_date('22/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,28,to_date('23/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,28,to_date('01/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,29,to_date('13/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,29,to_date('26/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,29,to_date('07/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,29,to_date('11/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (69,30,to_date('03/09/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (70,30,to_date('25/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (71,30,to_date('12/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (72,30,to_date('25/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,1,to_date('16/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,1,to_date('04/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,2,to_date('12/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,3,to_date('22/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,3,to_date('19/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,4,to_date('31/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,5,to_date('18/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,5,to_date('21/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,5,to_date('01/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,5,to_date('25/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,6,to_date('22/05/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,6,to_date('04/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,6,to_date('09/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,6,to_date('26/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,7,to_date('16/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,8,to_date('24/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,8,to_date('05/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,9,to_date('24/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,9,to_date('16/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,9,to_date('22/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,9,to_date('11/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (80,9,to_date('11/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,10,to_date('09/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,10,to_date('02/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,10,to_date('12/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,11,to_date('03/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,11,to_date('17/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,11,to_date('11/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,11,to_date('09/05/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (80,11,to_date('06/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,12,to_date('14/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,12,to_date('11/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,12,to_date('06/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,12,to_date('22/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (80,12,to_date('27/06/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,13,to_date('09/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,13,to_date('22/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,13,to_date('01/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,13,to_date('21/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,14,to_date('17/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,14,to_date('22/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,14,to_date('21/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,14,to_date('26/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,15,to_date('28/09/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,16,to_date('09/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,17,to_date('30/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,17,to_date('19/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,17,to_date('06/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,17,to_date('15/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,18,to_date('22/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,18,to_date('19/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,18,to_date('09/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,18,to_date('21/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,19,to_date('20/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,19,to_date('21/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,20,to_date('23/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,20,to_date('06/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,20,to_date('25/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,20,to_date('10/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (80,20,to_date('16/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,21,to_date('23/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,22,to_date('03/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,22,to_date('27/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,22,to_date('01/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,22,to_date('08/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,23,to_date('04/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,23,to_date('13/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,23,to_date('04/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,24,to_date('19/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,24,to_date('14/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,24,to_date('24/11/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,24,to_date('11/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (80,24,to_date('07/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,25,to_date('06/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,25,to_date('22/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,25,to_date('05/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,25,to_date('17/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,26,to_date('01/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,26,to_date('11/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,26,to_date('15/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,26,to_date('16/08/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (80,26,to_date('17/08/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,27,to_date('31/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,27,to_date('04/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,27,to_date('26/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (79,27,to_date('26/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,28,to_date('09/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,28,to_date('07/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,28,to_date('09/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,29,to_date('23/08/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (76,30,to_date('01/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (77,30,to_date('24/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (78,30,to_date('07/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,1,to_date('25/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,2,to_date('03/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,3,to_date('21/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,4,to_date('17/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,5,to_date('14/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,6,to_date('14/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,7,to_date('11/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,8,to_date('18/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,9,to_date('05/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,10,to_date('24/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,11,to_date('25/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,12,to_date('24/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,13,to_date('22/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,14,to_date('21/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,15,to_date('27/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,16,to_date('02/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,17,to_date('02/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,18,to_date('01/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,19,to_date('05/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,20,to_date('28/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,21,to_date('18/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,22,to_date('05/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,23,to_date('03/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,24,to_date('13/09/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,25,to_date('21/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,26,to_date('05/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,27,to_date('09/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,28,to_date('12/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,29,to_date('02/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (82,30,to_date('31/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,1,to_date('05/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,2,to_date('14/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,3,to_date('04/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,4,to_date('15/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,5,to_date('25/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,6,to_date('05/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,7,to_date('08/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,8,to_date('28/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,9,to_date('12/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,10,to_date('16/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,11,to_date('03/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,12,to_date('27/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,13,to_date('15/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,14,to_date('21/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,15,to_date('14/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,16,to_date('20/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,17,to_date('22/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,18,to_date('10/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,19,to_date('08/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,20,to_date('15/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,21,to_date('16/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,22,to_date('09/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,23,to_date('21/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,24,to_date('23/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,25,to_date('09/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,26,to_date('02/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,27,to_date('24/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,28,to_date('21/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,29,to_date('04/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (83,30,to_date('19/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,1,to_date('19/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,1,to_date('01/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,1,to_date('25/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,2,to_date('29/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,3,to_date('15/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,3,to_date('20/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,3,to_date('26/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,3,to_date('18/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,3,to_date('26/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,3,to_date('03/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,4,to_date('23/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,4,to_date('09/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,4,to_date('25/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,4,to_date('02/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,4,to_date('18/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,4,to_date('29/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,5,to_date('16/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,5,to_date('24/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,5,to_date('05/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,6,to_date('05/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,6,to_date('09/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,7,to_date('29/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,7,to_date('17/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,7,to_date('25/12/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,7,to_date('10/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,7,to_date('30/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,7,to_date('24/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,8,to_date('17/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,8,to_date('13/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,8,to_date('04/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,8,to_date('28/05/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,8,to_date('12/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,8,to_date('14/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (90,8,to_date('22/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,9,to_date('23/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,10,to_date('24/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,10,to_date('14/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,10,to_date('31/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,11,to_date('19/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,11,to_date('18/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,11,to_date('18/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,12,to_date('28/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,12,to_date('23/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,12,to_date('20/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,12,to_date('22/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,12,to_date('14/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,12,to_date('22/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (90,12,to_date('15/09/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,13,to_date('07/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,13,to_date('28/04/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,14,to_date('19/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,14,to_date('28/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,15,to_date('12/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,15,to_date('05/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,16,to_date('26/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,16,to_date('13/03/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,16,to_date('26/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,16,to_date('06/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,16,to_date('19/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,16,to_date('07/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (90,16,to_date('06/01/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,17,to_date('08/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,17,to_date('27/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,17,to_date('23/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,17,to_date('29/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,17,to_date('21/10/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,18,to_date('18/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,19,to_date('28/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,19,to_date('22/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,19,to_date('06/07/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,20,to_date('31/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,20,to_date('22/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,20,to_date('11/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,20,to_date('21/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,20,to_date('27/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,20,to_date('06/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,21,to_date('04/01/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,21,to_date('08/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,21,to_date('14/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,22,to_date('12/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,22,to_date('10/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,22,to_date('17/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,23,to_date('07/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,23,to_date('28/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,23,to_date('28/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,23,to_date('12/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,23,to_date('02/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,23,to_date('19/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,24,to_date('09/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,25,to_date('03/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,25,to_date('26/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,26,to_date('24/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,26,to_date('05/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,26,to_date('28/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,26,to_date('01/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,27,to_date('07/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,27,to_date('14/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,27,to_date('11/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,27,to_date('25/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,27,to_date('16/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,27,to_date('17/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (90,27,to_date('14/10/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,28,to_date('21/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,28,to_date('22/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,28,to_date('23/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,28,to_date('17/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,28,to_date('16/02/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (89,28,to_date('22/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (90,28,to_date('10/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,29,to_date('15/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,29,to_date('26/12/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,29,to_date('20/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,29,to_date('16/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,29,to_date('08/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (84,30,to_date('17/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (85,30,to_date('03/08/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (86,30,to_date('22/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (87,30,to_date('02/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (88,30,to_date('14/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,1,to_date('04/06/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,1,to_date('28/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,2,to_date('29/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,2,to_date('30/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,2,to_date('16/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,2,to_date('29/03/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,2,to_date('06/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,3,to_date('10/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,3,to_date('23/10/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,3,to_date('30/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,3,to_date('18/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,3,to_date('16/04/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (6,3,to_date('21/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,4,to_date('31/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,4,to_date('26/02/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,5,to_date('10/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,5,to_date('18/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,6,to_date('30/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,7,to_date('30/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,7,to_date('07/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,7,to_date('21/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,7,to_date('30/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,7,to_date('02/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (6,7,to_date('18/04/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (7,7,to_date('24/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,8,to_date('27/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,8,to_date('19/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,8,to_date('15/05/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,8,to_date('10/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,8,to_date('11/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (6,8,to_date('08/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,9,to_date('29/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,9,to_date('13/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,9,to_date('07/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,9,to_date('05/09/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,10,to_date('02/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,11,to_date('21/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,11,to_date('28/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,11,to_date('14/10/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,11,to_date('06/05/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,11,to_date('17/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (6,11,to_date('22/05/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (7,11,to_date('04/02/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,12,to_date('12/05/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,13,to_date('02/12/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,14,to_date('26/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,14,to_date('29/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,14,to_date('30/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,14,to_date('20/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,14,to_date('20/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (6,14,to_date('18/11/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (7,14,to_date('27/03/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,15,to_date('08/04/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,15,to_date('31/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,15,to_date('23/04/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,15,to_date('29/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,16,to_date('14/02/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,16,to_date('02/03/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,16,to_date('12/08/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,16,to_date('01/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,16,to_date('21/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (6,16,to_date('19/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (7,16,to_date('23/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,17,to_date('15/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,17,to_date('10/01/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,18,to_date('18/09/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,18,to_date('05/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,18,to_date('23/11/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,18,to_date('03/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,18,to_date('15/09/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,19,to_date('27/03/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,19,to_date('12/12/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,19,to_date('12/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,19,to_date('14/01/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,19,to_date('02/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,20,to_date('21/10/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,20,to_date('07/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,20,to_date('11/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,20,to_date('17/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,20,to_date('22/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (6,20,to_date('25/09/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,21,to_date('28/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,21,to_date('11/08/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,21,to_date('19/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,21,to_date('14/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,22,to_date('12/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,22,to_date('21/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,22,to_date('29/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,22,to_date('01/08/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,22,to_date('19/07/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,23,to_date('14/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,24,to_date('07/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,24,to_date('25/01/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,24,to_date('25/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,24,to_date('08/06/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,25,to_date('20/06/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,25,to_date('13/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,25,to_date('18/11/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,26,to_date('21/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,26,to_date('24/05/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,27,to_date('19/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,27,to_date('14/08/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,27,to_date('30/01/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,28,to_date('15/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,28,to_date('15/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,28,to_date('17/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,28,to_date('31/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,28,to_date('04/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,29,to_date('26/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,29,to_date('03/03/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (1,30,to_date('20/05/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (2,30,to_date('08/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (3,30,to_date('06/07/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (4,30,to_date('08/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (5,30,to_date('06/08/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (6,30,to_date('28/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,1,to_date('06/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,2,to_date('28/12/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,3,to_date('30/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,4,to_date('08/05/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,5,to_date('14/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,6,to_date('21/07/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,7,to_date('02/02/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,8,to_date('10/02/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,9,to_date('09/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,10,to_date('31/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,11,to_date('09/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,12,to_date('16/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,13,to_date('14/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,14,to_date('11/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,15,to_date('30/04/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,16,to_date('07/01/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,17,to_date('18/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,18,to_date('03/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,19,to_date('13/06/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,20,to_date('28/11/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,21,to_date('07/06/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,22,to_date('01/05/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,23,to_date('07/04/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,24,to_date('01/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,25,to_date('02/05/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,26,to_date('25/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,27,to_date('23/03/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,28,to_date('27/06/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,29,to_date('26/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (9,30,to_date('04/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,1,to_date('13/06/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,1,to_date('17/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,1,to_date('24/09/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,1,to_date('04/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,1,to_date('10/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,2,to_date('25/11/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,2,to_date('15/07/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,2,to_date('20/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,2,to_date('07/01/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,2,to_date('31/07/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,3,to_date('16/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,3,to_date('03/01/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,3,to_date('30/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,3,to_date('18/12/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,3,to_date('17/03/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,4,to_date('13/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,5,to_date('04/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,5,to_date('05/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,5,to_date('15/03/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,5,to_date('19/07/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,6,to_date('06/10/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,6,to_date('10/08/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,6,to_date('15/03/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,7,to_date('10/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,8,to_date('24/11/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,8,to_date('26/04/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,8,to_date('19/08/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,8,to_date('06/10/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,9,to_date('29/08/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,10,to_date('24/10/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,11,to_date('15/02/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,11,to_date('30/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,12,to_date('21/07/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,13,to_date('28/12/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,13,to_date('09/07/1999', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,13,to_date('05/06/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,13,to_date('03/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,13,to_date('12/11/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,14,to_date('03/09/2002', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,14,to_date('13/02/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,14,to_date('20/12/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,14,to_date('21/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,14,to_date('14/04/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,15,to_date('02/05/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,15,to_date('21/08/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,16,to_date('30/12/2007', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,16,to_date('16/02/2006', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,16,to_date('11/09/2003', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,16,to_date('13/01/2005', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (14,16,to_date('24/08/2004', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (15,16,to_date('10/08/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (10,17,to_date('17/11/2001', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (11,17,to_date('30/06/2008', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (12,17,to_date('27/10/2000', 'dd/mm/yyyy'),null,null);
Insert into LOCACAO (COD_EXEMPLAR,COD_CLIENTE,DT_SAIDA,DT_DEVOLUCAO,PRECO_APLICADO) values (13,17,to_date('17/03/2004', 'dd/mm/yyyy'),null,null);

##RESOLUCAO DOS EXERCICIOS

In [ ]:
%%sql
/*Fazendo uso de cursor, criar uma função armazenada que apresente os
nomes dos filmes seguidos da sua classificação. A classificação deve ser:
infantil (censura < 16), adolescente (>= 16 e < 18) e adulto (>= 18).*/
CREATE OR REPLACE FUNCTION filmesc ()
RETURNS TABLE(nomef VARCHAR(100), cl VARCHAR(10))
AS $$
DECLARE
  cursorcensura CURSOR FOR
  SELECT nome,censura FROM filme;
  nomefilme VARCHAR(100);
  censura INTEGER;
  classificacao VARCHAR(20);

BEGIN
  OPEN cursorcensura;
  LOOP
    FETCH NEXT FROM
      cursorcensura INTO nomefilme,censura;
    EXIT WHEN NOT FOUND;
    IF censura>=18 THEN
      classificacao := 'ADULTO';
    ELSIF CENSURA>=16 THEN
      classificacao := 'ADOLESCENTE';
    ELSE
      classificacao := 'INFANTIL';
    END IF;
    RETURN QUERY VALUES(nomefilme,classificacao);
  END LOOP;
  CLOSE cursorcensura;
END
$$ LANGUAGE PLPGSQL;

In [ ]:
%%sql
SELECT filmesc()

In [ ]:
%%sql
/*Criar uma função armazenada que receba o nome de um filme como
parâmetro e retorne o dobro do valor do preço sugerido de locação para o
filme especificado.*/
CREATE OR REPLACE FUNCTION filmes_dobro(nomef text)
RETURNS TABLE (nome TEXT, novo_preco FLOAT)
AS $$
DECLARE
  cursor_preco CURSOR FOR
    SELECT preco_sugerido_locacao FROM FILME F WHERE nomef = F.nome;
  preco_original FLOAT;
  preco_dobro FLOAT;
  BEGIN
    OPEN cursor_preco;
    FETCH FROM cursor_preco INTO preco_original;
    preco_dobro := 2*preco_original;
    RETURN QUERY VALUES(nomef, preco_dobro);
    CLOSE cursor_preco;
  END
  $$ LANGUAGE PLPGSQL;

In [ ]:
%%sql
SELECT filmes_dobro('Advogado do Diabo')

 * postgresql://postgres:***@localhost:5432/sampledb
1 rows affected.

[('("Advogado do Diabo",12.7)',)]